body {
    padding: 150px;
}

.highlighter {
    color: rgb(94, 129, 41);
}

.login-form {
    margin-top: 40px;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 5px 5px 10px lightgray;
}
.instruction{
    border: lightgrey;
}

#transaction-area {
    display: none;
}

.entry-form{
        width: 800px;
        height: auto;
        background-color: rgb(158, 244, 247);
        margin-top: 5px;
        border-radius: 15px;
        padding: 40px;
        box-shadow: 5px 5px 10px lightgray;
}
.small {
    transform: scale(0.85, 0.85);
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.85, 0.85); /* Safari and Chrome */
    -o-transform: scale(0.8, 0.8); /* Opera */
    -moz-transform: scale(0.8, 0.8); /* Firefox */
  }

.head{
    margin-bottom: 15px;
    border-radius: black;
}

.status {
    box-shadow: 5px 5px 10px none;
    border-radius: 10px;
    padding: 30px;
    color: white;
    margin: 35px;
}

.deposite {
    background-color: rgb(171, 206, 230);
}

.balance {
    background-color: rgb(224, 255, 47);
}

.withdraw {
    background-color: rgb(212, 100, 223);
}

.cash-in {
    display: none;
}

.add-money {
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 40px;
    margin: 15px;
}